#special-header {
	position: relative;
	width: auto;
	height: 406px;
	margin: 0 auto 4em;
	overflow: hidden;

	background-color: #5cafc6;
	background-image: url('../images/special-1-bg-blue.jpg');
	background-size: 100% 640px;
	background-position: center bottom;

	/*background:-webkit-radial-gradient(top, #5cafc6, #073d60);
	background:-moz-radial-gradient(top, #5cafc6, #073d60);
	background:radial-gradient(top, #5cafc6, #073d60);*/
	
	-webkit-box-shadow: inset 0 -10px 20px rgba(0,0,0,0.1), 0 1px 0 #fff;
	-moz-box-shadow: inset 0 -10px 20px rgba(0,0,0,0.1), 0 1px 0 #fff;
	box-shadow: inset 0 -10px 20px rgba(0,0,0,0.1), 0 1px 0 #fff;
}
#special-header-inside {
	position: relative;
	overflow: hidden;
	max-width: 1140px;
	height: 406px;
	margin: 0 auto;
}

#special-logo {
	position: absolute;
	left: 0;
	top: 0;
	width: auto;
	max-width: 33.333%;
	padding: 0;
	font-family: 'PoliticsHeadBold', 'Helvetica Neue', 'Arial', Sans-Serif;
	font-size: 2.8em;
	line-height: 100%;
	vertical-align: bottom;
	text-transform: uppercase;

	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	-o-hyphens: none;
	hyphens: none;
	
	z-index: 9999;
}
#special-logo a,
#special-logo a:active,
#special-logo a:visited,
#special-logo a:hover {
	color: #fff;
}
#special-logo img {
	display: block;
	padding: 1em 0;
}
#special-logo-text {
	display: block;
	padding: 60px 0;
	line-height: 75%;
}

#toggling {
	-webkit-box-shadow: 0 3px 12px rgba(0,0,0,0.25);
	-moz-box-shadow: 0 3px 12px rgba(0,0,0,0.25);
	box-shadow: 0 3px 12px rgba(0,0,0,0.25);
}
#front-page-adverts #featured-links ul li {
	-webkit-box-shadow: inset 0 0 0 1px rgba(255,213,128,0.5);
	-moz-box-shadow: inset 0 0 0 1px rgba(255,213,128,0.5);
	box-shadow: inset 0 0 0 1px rgba(255,213,128,0.5);

	background:-webkit-radial-gradient(top, #ffb400, #ff8000);
	background:-moz-radial-gradient(top, #ffb400, #ff8000);
	background:radial-gradient(top, #ffb400, #ff8000);
}
#front-page-adverts #featured-links ul li:hover {
	-webkit-box-shadow: inset 0 4px 12px rgba(128,0,0,0.5);
	-moz-box-shadow: inset 0 4px 12px rgba(128,0,0,0.5);
	box-shadow: inset 0 4px 12px rgba(128,0,0,0.5);

	background:-webkit-radial-gradient(top, #ffb400, #ff8000);
	background:-moz-radial-gradient(top, #ffb400, #ff8000);
	background:radial-gradient(top, #ffb400, #ff8000);
}
#front-page-adverts #featured-links ul li .featured-link {
	color: #fff;
	text-shadow: 0 -1px 1px rgba(191,0,0,0.5);
	border-bottom: 1px solid #ff5500;
	border-right: 1px solid #ff5500;
}
#front-page-adverts #featured-links ul li:first-child .featured-link {
	border-left: 1px solid #ff5500;
}


#full,
#content,
#front-page-header-outside,
#front-page-header-image-outside {
	position: relative;
	margin: -14em auto 0;
}

@media only screen and (max-width: 1220px) {
	#special-header,
	#special-header-inside {
		padding: 0;
		height: 406px;
	}
	
	#special-logo {
		margin-left: 40px;
	}
	#description-outer {
		margin-right: 40px;
	}
}
@media only screen and (max-width: 860px) {
	#special-header,
	#special-header-inside {
		height: auto;
	}
	#special-portrait {
		display: none;
	}
	#special-logo {
		position: static;
		width: auto;
		max-width: 50%;
		margin: 0 auto;
		text-align: center;
	}
	#sidebar {
		top: auto;
	}
}
@media only screen and (max-width: 640px) {
	#special-logo {
		max-width: 75%;
	}
	#special-logo img {
		padding: 1em 0;
	}
	#description-outer {
		margin: 0 auto 3em;
	}
	#full,
	#content {
		margin: -8em auto 0 !important;
	}
}