/*
 * jQuery FlexSlider v2.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 */

 
/* Browser Resets */
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus  {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none;} 

/* FlexSlider Necessary Styles
*********************************/ 
.flexslider {margin: 0; padding: 0;}
.flexslider .slides > li {display: none; -webkit-backface-visibility: hidden;margin: 0;padding: 0;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {width: 100%; display: block;}
.flex-pauseplay span {text-transform: capitalize;}

/* Clearfix for the .slides element */
.slides:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;} 
html[xmlns] .slides {display: block;} 
* html .slides {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {display: block;}


/* FlexSlider Default Theme
*********************************/
.flexslider {position: relative; zoom: 1;}
.flex-viewport {max-height: 2000px; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; transition: all 1s ease;}
.loading .flex-viewport {max-height: 300px;}
.flexslider .slides {zoom: 1;}

.carousel li {margin-right: 5px}


/* Direction Nav */
.flex-direction-nav {
	display: none;
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}
#front-page-slider:hover .flex-direction-nav {
	display: block;
}
.flex-direction-nav a {
	bottom: 128px;
	width: 28px;
	height: 64px;
	line-height: 64px;
	position: absolute;
	color: #bfbfbf;
	cursor: pointer;
	text-align: center;
	z-index: 2000;
	text-indent: -999em;
	
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;

	filter:alpha(opacity=50);
	-moz-opacity: 0.5;
	-khtml-opacity: 0.5;
	opacity: 0.5;
}
.flex-direction-nav a:hover {
	color: #fff;
	filter:alpha(opacity=100);
	-moz-opacity: 1;
	-khtml-opacity: 1;
	opacity: 1;
}
.flex-direction-nav .flex-next {
	right: 0;
	background: rgba(0,0,0,0.5) url('../images/arrow-right.png') center center no-repeat scroll;
	background-size: 14px 26px;
}
.flex-direction-nav .flex-prev {
	left: 0;
	background: rgba(0,0,0,0.5) url('../images/arrow-left.png') center center no-repeat scroll;
	background-size: 14px 26px;
}
.flex-direction-nav .disabled {opacity: .3!important; filter:alpha(opacity=30); cursor: default;}

/* Control Nav */
.flex-control-nav {
	position: absolute;
	top: 0;
	left: 0;
	margin: 32px 0 0 32px;
	padding: 6px 10px;
	text-align: center;
	z-index: 2000;
	background: rgba(0,0,0,0.75);
}
.flex-control-nav li {
	display: inline-block;
	zoom: 1;
	*display: inline;
}
.flex-control-paging li a {
	cursor: pointer;
	display: inline-block;
	height: 8px;
	line-height: 8px;
	width: 8px;
	margin: 0 4px;
	background: #fff;
	color: #000;
	text-indent: -10000px;
	
	-webkit-border-radius: 2em;
	-moz-border-radius: 2em;
	border-radius: 2em;
}
.flex-control-paging li a:hover,
.flex-control-paging li a.flex-active {
	background: #f80;
	color: #fff;
}

.flex-control-thumbs {margin: 5px 0 0; position: static; overflow: hidden;}
.flex-control-thumbs li {width: 25%; float: left; margin: 0;}
.flex-control-thumbs img {width: 100%; display: block; opacity: .7; cursor: pointer;}
.flex-control-thumbs img:hover {opacity: 1;}
.flex-control-thumbs .active {opacity: 1; cursor: default;}

@media only screen and (max-width: 860px) {
	.flex-direction-nav a {
		bottom: 64px;
	}
}

@media	only screen and (-webkit-min-device-pixel-ratio: 2), 
		only screen and (-moz-min-device-pixel-ratio: 2), 
		only screen and (-o-min-device-pixel-ratio: 2/1), 
		only screen and (min-device-pixel-ratio: 2) {
	.flex-direction-nav .flex-next {
		background-image: url('../images/arrow-right@2x.png');
	}
	.flex-direction-nav .flex-prev {
		background-image: url('../images/arrow-left@2x.png');
	}
}